.wrapperAllBox {
  padding: 1rem;
}
.uploadBox {
  border: 3px dotted var(--primaryColor);
  height: 100%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}
.uploadBtnBox {
  width: 20rem;
}
.mainDocumentCardBox {
  width: 8.5rem;
  height: 10rem;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  border: 1px solid #f2f2f2;
  background-color: var(--white);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

.mainDocumentCardBox .docImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 1.2rem;
}

.documentsCardListing {
  display: flex;
  gap: 0.9rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.overlayMaskDocument {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: var(--primaryColor);
  z-index: 100;
  bottom: 0;
  height: auto;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  transition: all ease 0.5s;
  transform: translateY(100%);
  padding: 0.5rem;
}
.mainDocumentCardBox:hover .overlayMaskDocument {
  transform: translateY(0%);
}
.iconBox {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  bottom: 0.5rem;
  left: 0;
  width: 100%;
  padding-right: 0.5rem;
}
.iconBox img {
  width: 1rem;
  height: 1rem;
}
.typography_1 {
  padding: 0.5rem;
}
.title {
  font-size: 0.875rem;
  color: #333;
  text-transform: capitalize;
  font-family: var(--font);
  font-weight: 400;
}
.description {
  font-size: 0.75rem;
}
.modalFooter {
  margin-top: 0.5rem;
}
.inputBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.addNewDoc {
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: var(--primaryColor);
  color: var(--white);
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: bold;
  height: 10rem;
  width: 8.5rem;
}

.progressBar {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.progressBar::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.progressBar::-webkit-progress-value {
  background-color: var(--primaryColor);
  border-radius: 5px;
}

.deleteBtnBox {
  display: flex;
  gap: 1rem;
}
.mainDocumentListingBox {
  display: flex;
  flex-direction: column;
}

.otherDocList {
  display: flex;
  gap: 0.9rem;
  flex-wrap: wrap;
}
.shareBox {
  margin-bottom: 1.5rem;
  height: auto;
  overflow: auto;
  max-height: 6rem;
}
.shareBox::-webkit-scrollbar {
  width: 1px;
  /* background-color: var(--primaryColor); */
}
.userList {
  display: flex;
  align-items: start;
  padding: 0.5rem;
}
.userList input[type="checkbox"] {
  width: auto;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  accent-color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}
.otherTextBtnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.emptyCaseBox {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.emptyCaseBox h1 {
  font-size: 3.5rem;
  color: var(--darkGray);
  margin-bottom: 2rem;
}

.backHomeBtn {
  width: 12rem;
  height: 4rem;
  margin: 0 auto;
}
.backHomeBtn button {
  height: 100%;
}
