.layoutWrapper {
  width: 100%;
  height: 100dvh;
}
.sidebarBox {
  background-color: var(--white);
  box-shadow: var(--shadow);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
.layoutMainWrapper {
  background-color: var(--gray);
  overflow-y: auto;
  height: 100%;
}

.logoSevction h1 {
  color: var(--black);
}
.logoutBox {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}
.logoutBox img {
  cursor: pointer;
}
.logoutBox .colorPicker {
  position: absolute;
  bottom: -19rem;
  right: 0rem;
  z-index: 9;
}
.btnBox {
  display: flex;
  gap: 1rem;
}
.logoutBox img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
