.layoutWrapper {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: space-between;
}
.sidebarBox {
  background-color: var(--black);
  height: 100dvh;
  box-shadow: var(--shadow);
  width: 200px;
  position: relative;
}
.layoutMainWrapper {
  width: calc(100% - 200px);
  background-color: #ffffff;
  padding: 1rem;
  overflow-y: auto;
}

.menuSection ul {
  list-style: none;
}
.menuSection ul a {
  text-decoration: none;
}
.menuSection ul li {
  color: var(--white);
  padding: 0.8rem;
  cursor: pointer;
  transition: all ease 0.5s;
  font-size: 14px;
}
.menuSection ul li:hover {
  background-color: var(--primaryColor);
  color: var(--white);
}
.logoSevction {
  padding: 0.8rem;
}
.logoSevction h1 {
  color: var(--white);
}
.logoutBox {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgb(39, 38, 38);
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}
.logoutBox img {
  cursor: pointer;
}
.logoutBox .colorPicker{
  position: absolute;
  bottom: 2rem;
  left: 0rem;
}
.btnBox{
  display: flex;
  gap: 1rem;
}